.App {
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  color: rgb(235, 235, 235);
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(rgba(31, 112, 193, 0.8), rgba(0, 0, 0, 1));
}
